---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="About" sideBarActiveItemID="about">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-align: left">
    I have been a part of regional analytics teams at multiple tech companies in APAC, partnering with stakeholders to inform decisions through data.<br>
    <br>
    Starting my career as a data analyst has allowed me to work on a wide range of problem statements and wear multiple hats.
    Nonethless, I see myself as a generalist with broad interests in multiple domains, including strategy, analytics and product.
    This site is an avenue for me to document my learnings in those domains outside of my day job.<br>

    <br>
    I especially enjoy being a part of high-growth teams doing meaningful work + the challenge of disrupting an industry and building a sustainable business.<br>

    <br>
    If you have an exciting project / idea / opportunity to share, feel free to reach out :)
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="analytics @ foodpanda"
      subtitle="2022 - Present"
    >
      foodpanda is the APAC arm of Delivery Hero, a global delivery company. <br><br>
      I work on assortment, incentives, retention and more within the regional quick-commerce vertical.
    </TimeLineElement>
    <TimeLineElement
      title="analytics @ grab"
      subtitle="2021"
    >
      grab is SEA's leading superapp. <br><br>
      I worked on campaign insights, ad inventory, finance, product and more within the regional ad-tech vertical.
    </TimeLineElement>
    <TimeLineElement
      title="nanyang technological university"
      subtitle="2017 - 2021"
    >
      double degree in business (analytics) and accountancy, honours (highest distinction)
    </TimeLineElement>
  </div>
  <!--
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
  -->
</BaseLayout>
