---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Bookmarks" sideBarActiveItemID="bookmarks">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Bookmarks</div>
  </div>

  <div class="mb-10 text-justify">
    List of what I'm currently reading or have read and bookmarked.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">📚 Reading</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.goodreads.com/book/show/41795733-range" target="_blank"> <b>Range</b>
        <br> David Epstein writes about generalists are more relevant than specialists in today's world.
      </a>
      
    </li>
  </ul>
  
</BaseLayout>
